venv/
myenv/
__pycache__/
*.pyc
*.pyo
.env
config.yaml
*.log
Dockerfile~
*.o
*.so
*.out
*.class
.vscode/
.idea/
*.sublime-workspace
data/*
notes.txt
ryan_change_github.sh
joey_change_github.sh
images/
wheels/
MongoDB_Data_Test.xlsx
app/wheels/MongoDB_Data_Test.xlsx